---
import '../../styles/style1.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import SowHeader from "../../components/SowHeader.astro";
import SowLeft from "../../components/SowLeft.astro";
import SowFooter from "../../components/SowFooter.astro";
import SowRight from "../../components/SowRight.astro";

const posts = (await getCollection('sowblog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const today = new Date();
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Statistics of WoW</title>

</head>

<body>

<div id="ev_bg"><div id="everything">
<SowHeader/>
    <div id="middle">
        <SowLeft/>
        <div id="middle_column">
            <div class="date_break">Posts for {today.getMonth()+1}/{today.getDate()}/{today.getFullYear()}</div>

					{
						posts.map((post) => (
							<div class="post">
                                <h1><a href={`/sow/${post.slug}/`}>{post.data.title}</a></h1>
								<div class="post_body">
									<img width={350} height={200} src={post.data.heroImage} alt="" />
									<p class="stub">
                                        {post.data.description}
									</p>
								</div>
                                <div class="post_info"><div class="postedby">Posted by: Author</div><div class="timestamp"><FormattedDate date={post.data.pubDate} /></div></div>
							</div>
						))
					}
        </div>
        <SowRight/>
        <br clear="all">
    </div>
	<SowFooter/>

</div></div>


</body>
</html>
